@import '../../../../theme/variables.scss';

$min-card-width: 50px;
$max-card-width: 275px;
$max-card-width-sm: 100%;
$single-card-width: ($max-card-width * 2) + 80px;

.ProductList {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  align-content: stretch;

  .ProductRow {
    flex-basis: $max-card-width-sm;
    max-width: $max-card-width-sm;
    min-width: $min-card-width;
    margin: 8px;
    transition: all .5s;
    border-radius: 4px;
    background-color: $color-grey50;
    border: 1px solid $color-grey200;

    @media (min-width: $single-card-width) {
      flex-basis: $max-card-width;
      max-width: $max-card-width;
    }

    &:hover {
      box-shadow: 0 0 10px rgba(204,204,204,.5);
      transform: scale(1.03);
    }
  }
}

.LoadMoreContainer {
  $loading-container-size: 48px;

  position: relative;
  margin: 16px 0 8px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  height: $loading-container-size;

  .RefreshIndicatorContainer {
    position: relative;
    display: inline-block;
    height: $loading-container-size;
    width: $loading-container-size;
  }

  .LoadMoreButton {
    @include primary-button();
    height: $loading-container-size;
    font-size: $font-size-larger;
    padding: 8px 16px;
  }
}

.clearfix {
  @include clearfix();
}
