@import '../../../../theme/variables.scss';

$text-color: $color-grey400;

@mixin social-icon($background) {
  display: inline-block;
  width: 25px;
  height: 30px;
  background: $background;
  margin-right: 10px;
}

.AppFooter {
  background-color: $color-grey800;
  color: $text-color;

  h4 {
    font-weight: 300;
    padding-bottom: 8px;
    font-size: 18px;
    color: $color-grey50;
  }

  .AppFooterContainer {
    @include container-spacings();
    @include container-relative();
    @include container-large();
    font-weight: 300;
    display: block;
    padding-top: 8px;

    @media #{$screen-md} {
      display: flex;
    }

    .LinksContainer {
      display: flex;
      flex: 1;
      justify-content: space-between;
      flex-wrap: wrap;

      @media #{$screen-sm} {
        display: flex;
        flex-wrap: nowrap;
      }

      .LinkRow {
        flex: 1;
        padding: 8px;
        min-width: 125px;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }

        a {
          @include link($text-color);
          @include caption-text();
          line-height: 24px;
        }
      }
    }

    .InfoContainer {
      width: 100%;
      padding: 16px 16px 16px 0;
      @media #{$screen-md} {
        width: 390px;
        padding: 0;
      }

      h4 {
        color: $text-color;
      }

      .NewsletterRow {
        padding: 8px 0 16px 0;
        position: relative;

        .SocialLink {
          display: inline-block;
          position: relative;
          width: 35px;
          height: 30px;

          .IconXing {
            @include social-icon(url(https://clqtg10snjb14i85u49wifbv-wpengine.netdna-ssl.com/wp-content/themes/simscale/img/social_icons/x.png) no-repeat);
          }

          .IconLinkedIn {
            @include social-icon(url(https://clqtg10snjb14i85u49wifbv-wpengine.netdna-ssl.com/wp-content/themes/simscale/img/social_icons/t.png) no-repeat);
            position: absolute;
            top: 3px;
          }

          .IconTwitter {
            @include social-icon(url(https://clqtg10snjb14i85u49wifbv-wpengine.netdna-ssl.com/wp-content/themes/simscale/img/social_icons/l.png) no-repeat);
            position: absolute;
            top: 1px;
          }
        }
      }
    }
  }
}
