@import '../../../../theme/variables.scss';

.ButtonGroupItem {
  @include primary-button();
  display: table-cell;
  border-right: $color-grey50 1px solid;

  &:last-of-type {
    border: none;
  }
}
