@import '../../../../theme/variables.scss';

$screen-width-xs: 450px;

.ProductPageHeader {
  padding: 0 8px;
  display: flex;

  .HeaderTitle {
    flex: 1;
    display: none;
    @media #{$screen-sm} {
      display: block;
    }
  }

  .RightFieldsContainer {
    display: block;
    width: 100%;
    @media (min-width: $screen-width-xs) {
      display: flex;
      width: auto;
    }

    .SearchContainer {
    }

    .ButtonsContainer {
      display: inline-block;
      padding-top: 8px;
      float: right;

      @media (min-width: $screen-width-xs) {
        padding-top: 0;
      }

      .ButtonGroupContainer {
        display: inline-block;
        padding-left: 8px;
      }
    }
  }
}
