@import '../../../../theme/variables.scss';

.ProductListPage {
  .ListContainer {
    @include container-spacings();
    @include container-relative();
    @include container-large(1200px);
  }

  .HeaderContainer_wrapper {
    background-color: $color-grey100;
    border-top: 1px solid $color-grey200;
    border-bottom: 1px solid $color-grey200;

    .HeaderContainer {
      @extend .ListContainer;
    }
  }
}
