@import 'variables/media';
@import 'variables/fonts';
@import 'variables/colors';
@import 'variables/containers';
@import 'variables/links';
@import 'variables/buttons';
@import 'variables/headlines';

$desktop-max-width: 1128px;

body {
  color: $color-grey900;
  font-family: $font-family;
  font-size: $font-size-normal;
  line-height: 1.428571429;
  margin: 0;

  * {
    box-sizing: border-box;
  }

  a {
    @include link();
  }

  h1 {
    @include h1-text();
    margin: 0;
    font-weight: 500;
  }

  h2 {
    @include h2-text();
    margin: 0;
    font-weight: 500;
  }

  h3 {
    @include h3-text();
    margin: 0;
    font-weight: 500;
  }

  h4 {
    @include h4-text();
    margin: 0;
    font-weight: 500;
  }

  h5 {
    @include h5-text();
    margin: 0;
    font-weight: 500;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 1000px white inset !important;
  }

  a, img {
    border:none;
    outline:none;

    img {
      border:none;
      outline:none;
    }
  }
}

.clearfix {
  @include clearfix();
}
