@import '../../../../theme/variables.scss';

$selected-border-bottom: 3px solid $blue;

.AppHeader {
  padding: 8px;
  display: flex;

  .AppLogoLink {
    flex: 1;
    img {
      width: 35px;
    }
  }

  .AppNavigation {
    margin: 4px 0 0 0;
    padding: 0;
    height: 30px;
    display: none;

    @media #{$screen-sm} {
      display: block;
    }

    .AppNavigationItem {
      display: inline-block;
      position: relative;
      list-style: none;
      padding: 4px 8px;
      cursor: pointer;
    }

    .LinkNavigationItem {
      @extend .AppNavigationItem;

      &:hover {
        border-bottom: $selected-border-bottom;
      }

      a {
        @include link($color-grey900);
        &:hover {
          text-decoration: none;
        }
      }
    }

    .LinkNavigationItem_selected {
      @extend .LinkNavigationItem;
      border-bottom: $selected-border-bottom;
    }

    .ProfileNavigationItem {
      @extend .AppNavigationItem;
      margin-left: 32px;

      .ProfileNavigationItem_username {
        padding-right: 4px;
      }
    }
  }

  .DrawerIcon {
    padding: 0 4px;
    margin-top: -6px;

    display: block;
    @media #{$screen-sm} {
      display: none;
    }
  }
}

.HeaderNavigation_link {
  @include link($color-grey800, none);
  display: inline-block;
  height: 50px;
  width: 100%;
}
