@import '../../../../theme/variables.scss';

$less-important-text-color: $color-grey500;

.ProductCard {
  width: 100%;

  &:hover {
    .ProjectImageLink_hoverContainer {
      display: inline-block;
    }
  }

  .ProjectImageLink_hoverContainer {
      display: none;
      position: absolute;
      top: 40%;
      left: 40%;
      width: 40px;
      height: 40px;
      padding: 8px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.4);

      & :global(.fa) {
        color: $white;
        font-size: 22px;
      }
    }

  .ProjectImageLink {
    width: 100%;
    display: block;
    position: relative;

    .ProductCardImage {
      width: 100%;
    }
  }

  .ProductCardContent {
    padding: 16px;
  }

  .ProductCardContent {
    .TitleAndUserImage {
      display: flex;
    }

    .UserImage {
      width: 40px;
      max-width: 40px;
      height: 40px;
      display: block;
      flex: 1;
    }

    .TitleContent {
      flex: 1;
      padding-left: 16px;
      min-width: 0;
      flex-basis: 50%;
    }

    .TitleLink {
      display: block;
      width: 100%;
      font-weight: 600;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .ProductOwnerName {
      @include caption-text();
      color: $less-important-text-color;
    }

    .NumberOfData {
      @include caption-text();
      padding: 8px 0 0 0;
    }
  }

  .ProductCardFooter {
    display: flex;
    padding: 16px;
    border-top: 1px solid $color-grey200;

    .CardDate {
      @include caption-text();
      font-style: italic;
      font-weight: 300;
      color: $less-important-text-color;
    }

    .CardViewsAndLikes {
      flex: 1;
      text-align: right;
      @include caption-text();

      span {
        color: $blue;
      }
    }
  }
}
