@import '../../../../theme/variables.scss';

$font-size: 14px;
$height: 32px;
$line-height: 26px;
$border-radius: 2px;
$color: $blue;

.TextFieldGroup {
  display: flex;
  border: 1px solid $color;
  border-radius: $border-radius;

  .InputField {
    flex: 1;
    outline: none;
    border: none;
    padding: 4px 8px;
    height: $height;
    line-height: $line-height;
    font-size: $font-size;
    margin: 0;
    border-radius: 0;
    min-width: 125px;
  }

  .Button {
    @include primary-button();
    display: table-cell;
  }
}
